body {
    font-family: 'Nunito', 'Helvetica Neue', sans-serif;
    padding: 0.1px;
    /* prevent margin overflow */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2rem;
}

@media (max-width: 460px) {
    .title {
        font-size: 1.66rem;
    }
}

.wrapper {
    margin: 36px auto 0;
    width: 460px;
}

@media (max-width: 460px) {
    .wrapper {
        margin: 20px auto 0;
        width: 240px;
    }
}

.board button {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    margin: 1px;
    background: #bbb;
}

.board button.red {
    background: #ad0505;
}

.board button.yellow {
    background: yellow;
}

@media (max-width: 460px) {
    .board button {
        width: 30px;
        height: 30px;
    }
}

.new-game {
    height: 0px;
    overflow: hidden;
}

#new-game-btn {
    margin-bottom: 2em;
    height: 40px;
    line-height: 40px;
    width: 30%;
    background: mediumseagreen;
    color: white;
    text-decoration: none;
    opacity: 0.9;
}

.new-game-btn:hover,
.new-game-btn:focus {
    background: #359660;
}

.new-game:hover {
    opacity: 1;
}

.top-text {
    margin-bottom: 2rem;
    font-size: 1rem;
}

@media (max-width: 460px) {
    .top-text {
        font-size: 0.66rem;
    }
}

.code {
    position: absolute;
    bottom: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 12px;
    color: #bbb;
    padding: 4px 8px;
    background: rgba(255, 255, 255, 0.75);
}

.center {
    text-align: center;
}